<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Quatro</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" type="text/css" href="static/css/contactus.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap" rel="stylesheet">    
</head>
<body>
	<style>
		.outer:before {
  			content: '';
  			display: inline-block;
  			height: 100%;
  			vertical-align: middle;
		}

		.inner {
  			display: inline-block;
  			vertical-align: middle;
		}

		/* добавим горизонтальное центрирование */
		.outer {
  			text-align: center;
		}
	</style>

	<div class="outer" style="height:100px; width: 100%; border:0px solid black">
  	<span class="inner" style="border:0px solid red">    		
  		

	<div class="icon">
		<a href="whatsapp://send?text=Здравствуйте, я бы хотел проконсультироваться на счет машины!&phone=+996776923645&abid=+996776923645"><img id="image_21" src="static/image/image 21.png"></a>
		<a href="https://telegram.me/saaliev_n"><img id="image_22" src="static/image/image 22.png"></a>
		<a href="https://vk.com/vandmx"><img id="image_23" src="static/image/image 23.png"></a>
	</div>

	<div class="car">
		<img id="Vector_2" src="static/siluet/Vector 2.png">
		<img id="Vector_3" src="static/siluet/Vector 3.png">
		<img id="Vector_4" src="static/siluet/Vector 4.png">
		<img id="Vector_5" src="static/siluet/Vector 5.png">
		<img id="Vector_6" src="static/siluet/Vector 6.png">
		<img id="Vector_7" src="static/siluet/Vector 7.png">	
		<p id="text_q">Q</p><p id="text_uatro">uatro</p>	
	</div>
	<div class="blueleft">		
	</div>	
	<div class="blueright">		
	</div>	

	<div class="whiteback">
		<p id="h1_position" class="text">Contact us!</p>
		<form >
			<p><input id="name_position" type="text" name="Name" placeholder="Имя"></p>
			<p><input id="email_position" type="text" name="email" placeholder="email"></p>
			<p><textarea class="container" name="comment" placeholder="Сообщение"></textarea></p>
			<input id="checkbox" type="checkbox" name="checkbox" onchange="document.getElementById('submit').disabled = !this.checked;" />
			<label class="text" for="checkbox">I agree</label>    
			<input type="submit" disabled="disabled" name="submit" id="submit" value="Отправить" />				
		</form>  
	</div>	
	</span>
	</div>
<body bgcolor=#222327>
</body>
</html>