<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/stylecardetails.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap" rel="stylesheet">
    <title>Quatro</title>
</head>
<body>


    <header class="header">
        <div class="header2">
            <div class="logo">
                <p> 
                    <span class="q">Q</span>uatro
                </p>
                <nav class="nav">
                    <a class="nav__link" href="/">Home</a>
                    <a class="nav__link" href="/list">Cars</a>
                    <a class="nav__link" href="/contact_us">Contact us</a>
                </nav>
            </div>
        </div>
    </header>


    <div class="content">
        <div class="conteiner">
             <div class="intro1">
                 <div class="name_car">
                    {{ item.name }}
                 </div>
            </div> 

        <div class="intro2">
            <div class="photo">
                <img src="{{ item.image.url }}" alt="" >
                <div class="price">
                    ${{ item.price }}
                </div>
            </div>
            
        </div>

        <div class="intro3">
            <div class="characteristic">
                <p class="char__link0">Характеристики</p>
                <ul>
                <li><span class="char__link">Тип автомобиля:</span><span class="char__link2"> {{ item.car_type }}</span> </li>
                <li><span class="char__link">Год выпуска:</span><span class="char__link2"> {{ item.publish_date }}</span> </li>
                <li><span class="char__link">Марка: </span><span class="char__link2"> {{ item.brand.name }}</span> </li>
                <li><span class="char__link">Модель:</span><span class="char__link2"> {{ item.model_type }}</span> </li>
                <li><span class="char__link">Коробка передач:</span><span class="char__link2"> {{ item.gearbox }}</span></li>
                <li><span class="char__link">Состояние:</span> <span class="char__link2"> {{ item.status }}</span></li>
                </ul>
            </div>

            <div class="char__link2_2">
                <div class="color">Цвет:</div>

                <div class="colors">
                    <div class="colors__link__blue"></div>
                    <div class="colors__link__white"></div>
                    <div class="colors__link__red" ></div>
                    <div class="colors__link__black"></div>
                </div>

                <div class="connection">
                    <a class="colors__link2" href="#">Написать</a>
                    <a class="colors__link2" href="#">Позвонить</a>
                    <a class="colors__link2" href="#">Заказать</a>
                </div>

            </div>


            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footerinner">
        <div class="footer__link">
            <p>
            <span class="q_2">Q</span>uatro
            </p>                
        </div>

        <div class="footer__link2">
            Quatro-лучший автосалон в КР. 
            Все права защищены.<br class="br">Since 2021
        </div>
        <div class="iconsnav">
            <a href=""><img src="static/image/apple.png" alt=""></a>
            <a href=""><img src="static/image/play-store.png" alt=""></a>
            <a href=""><img src="static/image/instagram.png" alt=""></a>
        </div>
        </div>           
    </footer>



</body>
</html>