<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Quatro</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="static/css/autosalonstyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__iner">
                <div class="info">
                <img src="static/image/phone.png" alt="">
                +996-555-555-555</div>
                <div class="info__two"> <img src="static/image/message.png" alt=""> Mail: quatro.shop.7@gmail.com</div>
                <div class="info__two"> CEO:quatro.shop.admin@gmail.com</div>
                
                <div class="info"> <img src="static/image/lang.png" alt=""> English</div>
            </div>
        </div>    

            <div class="header2">
                <div class="logo">
                    <p> 
                        <span class="q">Q</span>uatro
                    </p>
                    <nav class="nav">
                        <a class="nav__link" href="/">Home</a>
                        <a class="nav__link" href="/list">Cars</a>
                        <a class="nav__link" href="/contact_us">Contact us</a>
                    </nav>
                </div>

            </div>
        
    </header>
     
        <div class="secondlist">
            <div class="secondlistinner">
                {% for item in items %}
                    <div class="listofcar">
                        <a class="carimg" href="#"><img  class="carimg" src="static/image/mb.png" alt=""></a>

                        <div class="textlistofcar">
                            <br>{{ item.name }}
                            <br>{{ item.description }}

                            <h3 class="priceauto">${{ item.price }}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>    
        </div>
         <!-- <a class="strelkabotton" href="/quatrosalon/"><img src="static/image/strelka.png" alt="">
        Home</a> -->

        <footer class="footer">
            <div class="footerinner">
            <div class="footer__link">
                <p>
                <span class="q_2">Q</span>uatro
                </p>                
            </div>
    
            <div class="footer__link2">
                Quatro-лучший автосалон в КР. 
                Все права защищены.<br class="br">Since 2021
            </div>
            <div class="iconsnav">
                <a href=""><img src="static/image/apple.png" alt=""></a>
                <a href=""><img src="static/image/instagram.png" alt=""></a>
                <a href=""><img src="static/image/play-store.png" alt=""></a>
            </div>
            </div>           
        </footer>
</body>
</html>